<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <div class="container">
          <div class="card">
            <div class="card-content red-text">
                <p>
                    <!-- Update below text with your Product Name and a welcome message for your Application

                        Example :
                            Product Name    : Avengers
                            Message         : Welcome <Logged In User Name>
                    -->
                    <span style="text-align: left">Update Your Product Name</span>
                    <span style="float: right">Add Welcome message .... </span>
                    <span style="clear: both"></span>
                </p>
            </div>
          </div>
        </div>
      </header>
      <fieldset>
        <!-- Here you should write code to add new items

            Tip: You should should be able to add
                Item description
                Item link


                Feel free to capture more details you like
        -->

      </fieldset>
    </div>
  </body>
<footer>
   <p class="text-center text-muted" align="center">© Copyright 2019 Turing Fusion Labs</p>
</footer>
</html>
