<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <div class="container">
      <div class="card">
        <div class="card-content red-text">
          <table>
            <tr>
              <td><p>Update Me</p></td>
              <td>
                <p align="right">Update Me with Welcome message .... </p>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
      </header>
      <fieldset>
        <form action="/add" method="get">



        </form>
      </fieldset>
    </div>
  </body>
<footer>
  <p class="text-center text-muted" align="center">© Copyright 2019 Turing Fusion Labs</p>
</footer>
</html>
