<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      <header>
        <div class="container">
          <div class="card">
            <div class="card-content red-text">
                <p>
                    <!-- Update below text with your Product Name and a welcome message for your Application

                        Example :
                            Product Name    : Avengers
                            Message         : Age Of Ultron
                    -->
                    <span style="text-align: left">Update Your Product Name</span>
                    <span style="float: right">Add Welcome message .... </span>
                    <span style="clear: both"></span>
                </p>
            </div>
          </div>
        </div>
      </header>

      <div class="row center-align">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <h3 class="blue-text text-darken-2">Login</h3>
                <form action="/login" method="get">
                  <% if (locals.message) { %>

                  <p><%= message %></p>

                  <% } %>
                  <input name="username" type="text" class="ghost-input" placeholder="Enter User Name" required>
                  <input name="password" type="password" class="ghost-input" placeholder="Enter Password" required>
                  <button type="submit" class="waves-effect waves-light btn">Login</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<footer>
   <p class="text-center text-muted" align="center">© Copyright 2019 Turing Fusion Labs</p>
</footer>
</html>
